/* I modified the html file because I wanted to try to do the exercises with CSS Grid */

* {
	box-sizing: border-box;
}

.even {
	background-color: rgb(60, 162, 201);
}

.box {
	color: white;
	width: 70px;
	height: 80px;
	padding: auto;
	text-align: center;
	font-size: 0.4em;
	vertical-align: middle;
	line-height: 80px;
}

.odd {
	background-color: rgb(234, 54, 89);
}