* {
	box-sizing: border-box;
}

.even {
	background-color: rgb(60, 162, 201);
}

.layer, box {
	display: inline-block;
}

.box {
	color: white;
	width: 70px;
	height: 80px;
	text-align: center;
	font-size: 0.4em;
	vertical-align: middle;
	line-height: 80px;
}

.odd {
	background-color: rgb(234, 54, 89);
}
#box_0 {
	position: absolute;
	top: 0;
	left: 0;
}
#box_1 {
	position: absolute;
	top: 0;
	left: 70px;
}
#box_2 {
	position: absolute;
	top: 0;
	left: 140px;
}
#box_3 {
	position: absolute;
	top: 0;
	left: 210px;
}
#box_4 {
	position: absolute;
	top: 0;
	left: 280px;
}
#box_5 {
	position: absolute;
	top: 0;
	left: 350px;
}
#box_6 {
	position: absolute;
	top: 0;
	left: 420px;
}
#box_7 {
	position: absolute;
	top: 0;
	left: 490px;
}
#box_8 {
	position: absolute;
	top: 0;
	left: 560px;
}
#box_9 {
	position: absolute;
	top: 0;
	left: 630px;
}