body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

.information {
	text-align: left;
	width: 70%;
	vertical-align: top;
}
.stars {
	height: 13px;
}
.toy-image {
	height: 100px;
}
.list-table {
	font-size: .8em;
	margin-left: 20px;
	width: 95%;
}

.best-seller {
	color: red;
	font-size: .8em;
}
.product-name {
	font-weight: bold;
}
.weight {
	font-weight: bold;
}
.price{
	color: rgb(167, 41, 58);
}
.row-name, .row-mfr, .row-weight {
	background-color: rgb(205,205,205);
}
.label {
	background-color:white;
	text-align: left;
	font-weight: bold;
}
.table-table {
	font-size: .8em;
	width: 95%;
	margin: 0 auto;
	border-collapse: collapse;
}

.table-table .toy-image{
	height: 50px;
}
.tile {
	display: inline-block;
	width: 300px;
	font-size: .8em;
}
.tile .stars {
	height: 17px;
}
.tile .price {
	line-height: 25px;
	position: relative;
	top: 5px;
	font-size: 1.2em;
}

.detail {
	text-align: left;
	display: flex;
}
.bold{
	font-weight: bold;
}

.detail .toy-image {
	height: 250px;
	margin-left: 10px;
}
.detail .info {
	margin-left: 20px;
	margin-right: 20px;
}




